.logo {
    cursor: pointer;
}

.page::after { 
  content:'';
  position: absolute;
  z-index: -1;
  height: calc(100% - 20px);
  top: 10px;
  right: -1px;
  width: 5px;
  background: #666;
}

.wrapper::-webkit-scrollbar {
    display: block;
    width: 4px;
    border-radius: '12px'; 
}
.wrapper::-webkit-scrollbar-track {
    background: transparent;
}
    
.wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-right: none;
    border-left: none;
}

.wrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
 
}

.landing__section {
    width: 100%; 
    display: block; 
    min-height: 320px; 
    padding-left: 40px; 
    padding-right: 40px; 
}

@media screen and (max-width: 768px){
    .task__overview {
        width: 370px !important; 
    }
    .task__group {
        width: 400px !important
    }
}
.react-datetime-picker__wrapper {
    border: 0 !important; 
}
.react-date-picker__wrapper {
    border: 0 !important; 
}
.react-confirm-alert-overlay {
    background-color: rgba(0,0,0,0.8) !important; 
}
.react-confirm-alert-button-group > button {
    background: var(--color-primary) !important; 
    font-size: 16px !important; 
    font-weight: 700;
}
.react-confirm-alert-body {
    color: black !important; 
}

.nice-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    background-color: #fff;
    color: #333;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    width: 150px;
  
  }
  
  .nice-select:hover {
    border-color: #888;
  }
  
  .nice-select:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.25);
  }
  
  [data-app-theme="dark"] .login-left-content {
    background: var(--color-background-2) !important;
}
[data-app-theme="dark"] .register-right-content {
    background: var(--color-background-2) !important;
}

[data-app-theme="dark"] .avatar-info {
    color: white; 
}

/* Calendar popup text */
.react-calendar,
.react-calendar__viewContainer,
.react-calendar__navigation button,
.react-calendar__tile {
  color: var(--color-text) !important;
}
.react-calendar__tile:hover {
    background-color: var(--color-block-item-2) !important;
}

/* Nếu background calendar bạn muốn giữ theme */
.react-calendar {
  background: var(--color-background-2) !important;
}
.react-calendar__tile--active {
    background: #2563eb !important; /* màu xanh primary */
    color: white !important;
}
