.logo {
    cursor: pointer;
}


.page::after { 
  content:'';
  position: absolute;
  z-index: -1;
  height: calc(100% - 20px);
  top: 10px;
  right: -1px;
  width: 5px;
  background: #666;
}

.wrapper::-webkit-scrollbar {
    display: block;
    width: 4px;
    border-radius: '12px'; 
}
.wrapper::-webkit-scrollbar-track {
    background: transparent;
}
    
.wrapper::-webkit-scrollbar-thumb {
    background-color: #ff6766;
    border-right: none;
    border-left: none;
}

.wrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
 
}

.landing__section {
    width: 100%; 
    display: block; 
    min-height: 320px; 
    padding-left: 40px; 
    padding-right: 40px; 
}